<html>
  <head>
    <title>shaper options</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    
    <div class="container">
      <h4>Select interfaces or bridges</h4>
      
      
                                                
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Shaper options
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Available Interfaces</a></li>
          <li><a href="#">Available Bridges</a></li>
          
        </ul>
      </div>
    </div>
  </body>
</html>
